## 고급 전처리 테크닉

In [3]:
import pandas as pd

df=pd.read_csv('data/credit.csv')
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966

## 함수를 사용한 사용자 정의 변환(apply)
* 입력값: 하나의 값
* 출력값: 하나의 값

In [4]:
# 함수정의
def income_cond(x):
    if x>50:
        return 100
    else:
        return 30
    
# 함수 테스트
income_cond(80)

100

In [5]:
df['Income'].apply(income_cond)

0       30
1      100
2      100
3      100
4      100
      ...
395     30
396     30
397    100
398     30
399     30
Name: Income, Length: 400, dtype: int64

## Categorical 변수에 대한 apply

In [8]:
## 대문자를 소문자로 바꾸는 내장함수
str.upper('a')

'A'

In [7]:
df['Gender'].apply(str.upper)

0        MALE
1      FEMALE
2        MALE
3      FEMALE
4        MALE
        ...
395      MALE
396      MALE
397    FEMALE
398      MALE
399    FEMALE
Name: Gender, Length: 400, dtype: object

In [9]:
## 글자의 갯수를 세는 내장함수
len("HiHiHi")

6

In [10]:
df['Ethnicity'].apply(len)

0       9
1       5
2       5
3       5
4       9
       ..
395     9
396    16
397     9
398     9
399     5
Name: Ethnicity, Length: 400, dtype: int64

## map과 dictionary를 이용한 매핑

In [12]:
temp = {'Male':0, 'Female':1}
temp['Male'], temp['Female']

(0, 1)

In [13]:
# Gender에 속하는 값을 다른 값으로 매핑
df['Gender'].map(temp)

0      0
1      1
2      0
3      1
4      0
      ..
395    0
396    0
397    1
398    0
399    1
Name: Gender, Length: 400, dtype: int64