## 데이터 불러오기

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/SteffiPeTaffy/machineLearningAZ/master/Machine%20Learning%20A-Z%20Template%20Folder/Part%204%20-%20Clustering/Section%2025%20-%20Hierarchical%20Clustering/Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

## 데이터 전처리

In [4]:
df = df.drop(columns=['CustomerID'])

In [12]:
df = pd.get_dummies(df, columns=['Genre'],drop_first=True)

## 데이터 스케일 변환

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [14]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

## 학습 및 결과확인

In [16]:
kmeans = KMeans(n_clusters=5)
kmeans.fit(df_scaled)

KMeans(n_clusters=5)

In [20]:
# 예측된 레이블
kmeans.labels_

array([4, 4, 1, 0, 1, 0, 1, 0, 3, 0, 3, 0, 1, 0, 3, 4, 1, 4, 3, 0, 3, 4,
       1, 4, 1, 4, 1, 4, 1, 0, 3, 0, 3, 4, 1, 0, 1, 0, 1, 0, 1, 4, 3, 0,
       1, 0, 1, 0, 0, 1, 1, 4, 0, 3, 1, 3, 1, 3, 0, 3, 3, 4, 1, 1, 3, 4,
       1, 1, 4, 0, 3, 1, 1, 1, 3, 4, 1, 4, 0, 1, 3, 4, 3, 1, 0, 3, 1, 0,
       0, 1, 1, 4, 3, 1, 0, 4, 1, 0, 3, 4, 0, 1, 3, 4, 3, 0, 1, 3, 3, 3,
       3, 0, 1, 4, 0, 0, 1, 1, 1, 1, 4, 1, 0, 4, 0, 0, 2, 4, 3, 4, 2, 4,
       0, 0, 2, 0, 2, 4, 2, 0, 1, 4, 0, 0, 2, 4, 2, 0, 2, 4, 2, 4, 2, 0,
       2, 0, 2, 0, 2, 0, 1, 0, 2, 0, 2, 0, 2, 0, 2, 4, 2, 4, 2, 4, 2, 0,
       2, 4, 2, 4, 2, 0, 2, 0, 2, 4, 2, 4, 2, 0, 2, 0, 2, 0, 2, 0, 2, 4,
       2, 4], dtype=int32)

In [22]:
# 중점과 소속된 점들사이 거리
kmeans.inertia_

325.43533698424227

In [23]:
# k를 바꾸어가며 실험
for i in range(2,15):
    kmeans = KMeans(n_clusters=i)
    kmeans.fit(df_scaled)
    print(kmeans.inertia_)

588.8026767824937
476.86006878694354
386.82842558376666
325.4485704854347
275.1475276089014
235.6772761532673
199.7166255966767
174.23547730691476
152.08676298710697
137.17265166335824
126.07334287658081
118.67977065967567
108.06315208450584