# 2. 변수 (Variable)

## 2-1. 변수(Variable)

- 값: 컴퓨터 메모리 안에 저장되어 있음
- 변수: 메모리안에 저장된 값을 가리키는 리모컨
- 변수를 통해 메모리안에 저장된 값에 접근할 수 있다.

In [1]:
# 다음과 같이 실행하면 에러가 발생
pi

NameError: name 'pi' is not defined

In [3]:
# 할당 연산자 =를 사용하여 변수에 값을 할당
# 변수 = 값
pi = 3.141592

In [4]:
# 기존 변수에 새로운 값을 덮어쓸수 있다
pi = 100
pi

100

In [5]:
# 변수에 저장할 수 있는 값의 형태에는 제한이 없다
pi = 'hello world'
pi

'hello world'

In [7]:
# 변수에 저장할 수 있는 값의 형태에는 제한이 없다
pi = True
pi

True

In [8]:
# 변수는 마음대로 생성할 수 있다
jihwan = 123
x = 33
y = 72

## 셀의 실행순서

In [9]:
# 위에서 정의한 변수를 다음 셀에서 다음과 같이 사용할 수 있다
jihwan

123

In [10]:
x

33

## 변수명 규칙

In [9]:
x = 123
x_1 = 123
AAA = 123

In [10]:
## 잘못된 사례
12X = 123

SyntaxError: invalid syntax (920029769.py, line 1)

In [11]:
## 잘못된 사례
23 = 23

SyntaxError: cannot assign to literal (3411350496.py, line 1)

In [13]:
## 잘못된 사례
~X =123

SyntaxError: cannot assign to operator (3766225802.py, line 1)

## 연습문제

변수명 규칙을 따르는 5개의 변수를 만들어 보고, 각각에 다양한 종류의 값을 대입해보세요

In [21]:
x =123
x

123

In [22]:
y=str(x)
y

'123'

* 셀 실행시 값을 모니터로 출력해주는 함수
* 괄호안에 출력하는 값을 넣어주면, 입력된 값을 화면에 출력함
* ,를 이용해 여러 개의 값을 동시에 출력할 수 있음

In [1]:
1
2
3
4

4

In [2]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

In [3]:
print(1,2,3,4)

1 2 3 4

In [4]:
print("Hello", True, 1, 2, 'Ya')

Hello True 1 2 Ya