# 05. 함수

```python
def 함수이름(매개변수1, 매개변수2, ...):
    함수의 실행문
    return 반환값

* y = f(x) = 2x + 10
    - f(5) = 20
    - f(10) = 30

## 함수의 정의

In [1]:
def function(x):
    y = 2*x+10
    return y

In [2]:
function(10)

30

In [3]:
function(20)

50

## 연습문제
* 다음을 수행하는 함수를 만들어보시오
    - 이름: power
    - 입력값: 숫자
    - 출력값: 입력된 숫자에 세제곱후 100을 뺀 값

In [4]:
def power(n):
    y = n**3 - 100
    return y

In [6]:
power(10)

900

## 입력값이 여러개인 함수
* a에 b제곱하는 함수
    - 이름: jegop
    - 입력값1: 및 a
    - 입력값2: 지수 b
    - 출력값: y

In [7]:
def jegop(a,b):
    y = a**b
    return y

In [8]:
jegop(2,3)

8

In [9]:
jegop(3,-2)

0.1111111111111111

## 함수 출력값의 사용

In [10]:
# 함수의 계산결과는 변수에 저장하여 사용할 수 있다.
result1 = function(20)
result2 = power(50)
result3 = jegop(2, 10)

In [11]:
print(result1)
print(result2)
print(result3)

50
124900
1024

## 연습문제
* 다음 함수를 만들어보시오
    - 함수이름: sigma
    - 입력값: 숫자 n
    - 출력값: 1부터 n까지의 합 (1+2+...+n)

In [12]:
def sigma(n):
    result = 0
    for i in range(1,n+1):
        result = result + i    
    return result

result = result + 1
result = result + 2
result = result + 3
result = result + 4

## 연습문제
* 입력된 정수(n)의 팩토리얼 (1*2*...*n)을 구현하는 함수를 만들어보시오
    - 함수이름: factorial
    - 입력값: n
    - 출력값: y

## 연습문제
* 두개의 문자열을 입력받아 두 문자열의 갯수가 같으면 True, 아니면 False를 출력하는 함수를 만들어보시오
    - 함수이름: isSameLength

## 출력값이 여러개인 함수

In [1]:
def power(a,b):    
    return a,a**b

a,b = power(2,3)

In [2]:
print(a,b)

2 8

## 05-5. 지역변수

- 함수에 사용되는 변수들은 함수 안에서만 의미있다.
- 즉, 함수 밖에서 사용할 수 없다.

In [23]:
def tenTimes(x):
    result = x*10
    return result

In [24]:
result

NameError: name 'result' is not defined

In [25]:
result=10
tenTimes(2)

20

In [28]:
result

10

- 함수안의 result값은 함수 안에서만 유효하다, 즉 함수 밖의 result와 함수 안의 result는 다르다.
- 하지만 함수 밖에서 지정한 변수는 함수 안에서 참조가 가능하다 (전역변수) 주의를 요함.

## 5-6. 함수를 사용한 프로그램 구조화

In [5]:
def print_line():
    print('='*50)

def print_five():
    for i in range(5):
        print('hello')
        
def print_star():
    print('*'*50)
    
print_line()
print_star()
print_five()
print_star()
print_line()

==================================================
**************************************************
hello
hello
hello
hello
hello
**************************************************
==================================================

## 5-7. 함수의 입출력값에는 제한이 없다

In [7]:
def sum_list(a):
    result=0
    for i in a:
        result = result + i
    return result

inputList = [1,3,5,7,9]
output = sum_list(inputList)
print(output)

25

In [8]:
sum_list(3)

TypeError: 'int' object is not iterable

## 5-8. 함수안에 함수

In [11]:
def print_line():
    print('='*50)

def print_five():
    for i in range(5):
        print('hello')
        
def print_star():
    print('*'*50)
    
def main():
    print_line()
    print_star()
    print_five()
    print_star()
    print_line()
    
main()

==================================================
**************************************************
hello
hello
hello
hello
hello
**************************************************
==================================================

In [12]:
def square(x):
    return x**2

def my_sum(x):
    result = 0
    for i in range(x+1):
        result = result + square(i)
    return result

print(my_sum(3))
print(my_sum(5))

14
55

## 5-9. 함수의 결과값을 입력값으로 사용

In [13]:
def f(x):
    return x**2

def g(y):
    return y+1

print(g(f(3)))

10

## 연습문제

7-1. 입력값 a,b를 순서대로 받아 a를 b로 나눈 몫과 나머지를 각각 반환하는 함수를 만들어보시오. 함수의 이름은 mok이다.

In [30]:
def mok(a, b):
    ## 여기에 작성해 보세요.
    
    ##
    return x,y

In [32]:
# m,n = mok(7,2)
# print(m,n)

## 연습문제

7-2. 어떤 수 n을 입력하면 1부터 n까지의 합을 계산하여 출력하는 함수를 만들어보시오.

In [31]:
def my_sum(number):    
    ## 이 부분을 작성해 보시오.
    
    ##
    return result

In [33]:
# y = my_sum(10)
# print(y) ## 55가 출력되어야 함

## 연습문제

7-3. 어떤 수 n을 입력여 짝수면 True, 홀수면 False를 출력하는 함수를 만들어보시오.

In [34]:
def check_even(number):
    ## 이 부분을 작성해 보시오.
    
    ##
    return result

In [35]:
# y = check_even(7)
# print(y) ## False가 출력되어야 함

## 연습문제

7-4. 어떤수 n을 입력하면 1부터 n까지 짝수의 합만 계산하여 출력하는 함수를 만들어보시오. 위에서 작성한 check_even을 사용할 것.

In [36]:
def myEvenSum(n):
    ## 이 부분을 작성해 보시오.
    
    ##    
    return result

In [37]:
# y = myEvenSum(7)
# print(y) ## 2+4+6 = 12