In [1]:
import sqlite3

## 데이터베이스 접속

In [3]:
conn = sqlite3.connect('database.db') ## 데이터베이스 접속하기
cursor = conn.cursor() # 마우스 커서처럼 데이터베이스의 현재 상태를 제어하는 도구

## 테이블 만들기

In [4]:
# 따옴표 3개 줄바뀌어도 문자열로 인식
# 쿼리문 작성시 주로 사용됨
query = '''CREATE TABLE IF NOT EXISTS employees(
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            position TEXT
)
'''

# 현재 커서에서 해당 쿼리를 실행
cursor.execute(query) #테이블이 만들어진다

## 데이터 집어넣기

In [12]:
def create_employee(name, age, position):
    query = f"INSERT INTO employees (name, age, position) VALUES(?,?,?)"
    values = (name, age, position)
    cursor.execute(query, values)
    conn.commit()
    print("Insert success")
    
create_employee('jihwan', 32, "Ph.D.")
create_employee('james', 35, "master")

Insert success
Insert success

## 데이터 읽기

In [19]:
def read_employee():
    query = "SELECT * FROM employees"    
    cursor.execute(query)
    employees = cursor.fetchall()
    if employees:
        for record in employees:
            print(record)
    else:
        print("Employee not found.")

In [20]:
read_employee()

(1, 'jihwan', 32, 'Ph.D.')
(2, 'james', 35, 'master')
(3, 'jihwan', 32, 'Ph.D.')
(4, 'james', 35, 'master')

##  업데이트

In [21]:
def update_employee(employee_id, name, age, position):
    query = "UPDATE employees SET name=?, age=?, position=? WHERE id=?"
    values = (name, age, position, employee_id)
    cursor.execute(query, values )
    conn.commit()
    print("Employee updated successfully.")

In [22]:
update_employee(1, 'myname', 29, 'ph.d')

Employee updated successfully.

## 지우기

In [25]:
def delete_employee(employee_id):
    query = "DELETE FROM employees WHERE id=?"
    value = (employee_id, )
    cursor.execute(query, value)
    conn.commit()
    print("Employee deleted successfully.")

In [26]:
delete_employee(2)

Employee deleted successfully.

In [27]:
read_employee()

(1, 'myname', 29, 'ph.d')
(3, 'jihwan', 32, 'Ph.D.')
(4, 'james', 35, 'master')