In [9]:
import openpyxl
import pandas as pd

## 엑셀파일을 pandas로 불러오기

In [41]:
df = pd.read_excel('censuspopdata.xlsx') ## 여러 옵션 살펴볼것
df

       CensusTract State    County  POP2010
0       1001020100    AL   Autauga     1912
1       1001020200    AL   Autauga     2170
2       1001020300    AL   Autauga     3373
3       1001020400    AL   Autauga     4386
4       1001020500    AL   Autauga    10766
...            ...   ...       ...      ...
72859  56043000200    WY  Washakie     3326
72860  56043000301    WY  Washakie     2665
72861  56043000302    WY  Washakie     2542
72862  56045951100    WY    Weston     3314
72863  56045951300    WY    Weston     3894

[72864 rows x 4 columns]

## dataframe을 새로운 파일에 저장하기

In [12]:
df.to_excel('censuspopdata2.xlsx', sheet_name='MySheet')

## 기존 엑셀파일에 시트 추가하면서 저장하기

In [19]:
from openpyxl import load_workbook
writer = pd.ExcelWriter('example.xlsx', engine='openpyxl', mode='a')
df.to_excel(writer, sheet_name='new_sheet2', index=False)
writer.save()

## pandas 이용한 고급 분석 사례

In [4]:
import pandas as pd
df=pd.read_excel('censuspopdata.xlsx')
df

       CensusTract State    County  POP2010
0       1001020100    AL   Autauga     1912
1       1001020200    AL   Autauga     2170
2       1001020300    AL   Autauga     3373
3       1001020400    AL   Autauga     4386
4       1001020500    AL   Autauga    10766
...            ...   ...       ...      ...
72859  56043000200    WY  Washakie     3326
72860  56043000301    WY  Washakie     2665
72861  56043000302    WY  Washakie     2542
72862  56045951100    WY    Weston     3314
72863  56045951300    WY    Weston     3894

[72864 rows x 4 columns]

In [5]:
def tractNum(x):
    return len(np.unique(x))

def popSum(x):
    return np.sum(x)

In [6]:
import numpy as np
result = df.groupby(['State','County'])['POP2010'].agg([tractNum, popSum])

In [7]:
result

                      tractNum  popSum
State County
AK    Aleutians East         1    3141
      Aleutians West         2    5561
      Anchorage             55  291826
      Bethel                 3   17013
      Bristol Bay            1     997
...                        ...     ...
WY    Sweetwater            12   43806
      Teton                  4   21294
      Uinta                  3   21118
      Washakie               3    8533
      Weston                 2    7208

[3143 rows x 2 columns]

In [21]:
## 판다스에서 데이터 쓰기
with pd.ExcelWriter('censuspopdata.xlsx', mode='a', engine='openpyxl') as writer:
    result.to_excel(writer, sheet_name='NewSheet')

## 연습문제

censuspopdata에서 State별로 데이터를 그룹핑한후, 개별 sheet에 저장해보시오.  
저장하는 파일의 이름은 census_result.xlsx로 하고, 개별 sheet의 이름은 State의 이름으로 지정하시오

In [39]:
## 힌트
df = pd.read_excel('censuspopdata.xlsx')
for group_name, group_df in df.groupby('State'):
    print(group_name, group_df)

AK       CensusTract State          County  POP2010
1179   2013000100    AK  Aleutians East     3141
1180   2016000100    AK  Aleutians West     1185
1181   2016000200    AK  Aleutians West     4376
1182   2020000101    AK       Anchorage     5736
1183   2020000102    AK       Anchorage     5259
...           ...   ...             ...      ...
1341   2282000100    AK         Yakutat      662
1342   2290000100    AK   Yukon-Koyukuk     1311
1343   2290000200    AK   Yukon-Koyukuk     1461
1344   2290000300    AK   Yukon-Koyukuk     1758
1345   2290000400    AK   Yukon-Koyukuk     1058

[167 rows x 4 columns]
AL       CensusTract State   County  POP2010
0      1001020100    AL  Autauga     1912
1      1001020200    AL  Autauga     2170
2      1001020300    AL  Autauga     3373
3      1001020400    AL  Autauga     4386
4      1001020500    AL  Autauga    10766
...           ...   ...      ...      ...
1174   1133965503    AL  Winston     2620
1175   1133965600    AL  Winston     5415
1176   1133965700    AL  Winston     4595
1177   1133965800    AL  Winston     4432
1178   1133965900    AL  Winston     2158

[1179 rows x 4 columns]
AR       CensusTract State    County  POP2010
2872   5001480100    AR  Arkansas     1435
2873   5001480200    AR  Arkansas     1643
2874   5001480300    AR  Arkansas     3129
2875   5001480400    AR  Arkansas     2518
2876   5001480500    AR  Arkansas     4151
...           ...   ...       ...      ...
3553   5149952302    AR      Yell     2941
3554   5149952401    AR      Yell     3180
3555   5149952402    AR      Yell     5515
3556   5149952500    AR      Yell     4796
3557   5149952600    AR      Yell     2627

[686 rows x 4 columns]
AZ       CensusTract State  County  POP2010
1346   4001942600    AZ  Apache     1578
1347   4001942700    AZ  Apache     5628
1348   4001944000    AZ  Apache     6043
1349   4001944100    AZ  Apache     5870
1350   4001944201    AZ  Apache     4010
...           ...   ...     ...      ...
2867   4027012100    AZ    Yuma     1467
2868   4027980003    AZ    Yuma        0
2869   4027980004    AZ    Yuma        0
2870   4027980005    AZ    Yuma      502
2871   4027980006    AZ    Yuma     3172

[1526 rows x 4 columns]
CA        CensusTract State   County  POP2010
3558    6001400100    CA  Alameda     2937
3559    6001400200    CA  Alameda     1974
3560    6001400300    CA  Alameda     4865
3561    6001400400    CA  Alameda     3703
3562    6001400500    CA  Alameda     3517
...            ...   ...      ...      ...
11597   6115040800    CA     Yuba     4233
11598   6115040901    CA     Yuba     2783
11599   6115040902    CA     Yuba     1737
11600   6115041000    CA     Yuba     7357
11601   6115041100    CA     Yuba     4941

[8044 rows x 4 columns]
CO        CensusTract State County  POP2010
11602   8001007801    CO  Adams     3732
11603   8001007802    CO  Adams     3758
11604   8001007900    CO  Adams     5555
11605   8001008000    CO  Adams     5742
11606   8001008100    CO  Adams      854
...            ...   ...    ...      ...
12846   8123002300    CO   Weld     4619
12847   8123002501    CO   Weld     4843
12848   8123002502    CO   Weld     5656
12849   8125963100    CO   Yuma     4602
12850   8125963200    CO   Yuma     5441

[1249 rows x 4 columns]
CT        CensusTract State     County  POP2010
12851   9001010101    CT  Fairfield     4476
12852   9001010102    CT  Fairfield     4330
12853   9001010201    CT  Fairfield     3421
12854   9001010202    CT  Fairfield     5359
12855   9001010300    CT  Fairfield     4010
...            ...   ...        ...      ...
13678   9015906100    CT    Windham     5132
13679   9015907100    CT    Windham     4413
13680   9015907200    CT    Windham     5506
13681   9015907300    CT    Windham     5486
13682   9015908100    CT    Windham     3830

[832 rows x 4 columns]
DC        CensusTract State                County  POP2010
13901  11001000100    DC  District of Columbia     4890
13902  11001000201    DC  District of Columbia     3916
13903  11001000202    DC  District of Columbia     5425
13904  11001000300    DC  District of Columbia     6233
13905  11001000400    DC  District of Columbia     1455
...            ...   ...                   ...      ...
14075  11001010700    DC  District of Columbia     1838
14076  11001010800    DC  District of Columbia     6408
14077  11001010900    DC  District of Columbia     3211
14078  11001011000    DC  District of Columbia     3715
14079  11001011100    DC  District of Columbia     4859

[179 rows x 4 columns]
DE        CensusTract State  County  POP2010
13683  10001040100    DE    Kent     6541
13684  10001040201    DE    Kent     5041
13685  10001040202    DE    Kent    12763
13686  10001040203    DE    Kent     5017
13687  10001040501    DE    Kent     4923
...            ...   ...     ...      ...
13896  10005051702    DE  Sussex     5613
13897  10005051801    DE  Sussex     4882
13898  10005051802    DE  Sussex     4190
13899  10005051900    DE  Sussex     4565
13900  10005990000    DE  Sussex        0

[218 rows x 4 columns]
FL        CensusTract State      County  POP2010
14080  12001000200    FL     Alachua     7431
14081  12001000301    FL     Alachua     3308
14082  12001000302    FL     Alachua     2770
14083  12001000400    FL     Alachua     5665
14084  12001000500    FL     Alachua     4976
...            ...   ...         ...      ...
18289  12133970104    FL  Washington     3228
18290  12133970200    FL  Washington     3624
18291  12133970301    FL  Washington     2282
18292  12133970302    FL  Washington     6615
18293  12133970303    FL  Washington     4161

[4214 rows x 4 columns]
GA        CensusTract State   County  POP2010
18294  13001950100    GA  Appling     3190
18295  13001950200    GA  Appling     4530
18296  13001950300    GA  Appling     5176
18297  13001950400    GA  Appling     1476
18298  13001950500    GA  Appling     3864
...            ...   ...      ...      ...
20254  13321950100    GA    Worth     2779
20255  13321950200    GA    Worth     6818
20256  13321950400    GA    Worth     4590
20257  13321950500    GA    Worth     4939
20258  13321950600    GA    Worth     2553

[1965 rows x 4 columns]
HI        CensusTract State  County  POP2010
20259  15001020100    HI  Hawaii     5213
20260  15001020202    HI  Hawaii     2568
20261  15001020300    HI  Hawaii     3934
20262  15001020400    HI  Hawaii     3294
20263  15001020500    HI  Hawaii     5924
...            ...   ...     ...      ...
20586  15009031900    HI    Maui     5624
20587  15009032000    HI    Maui      994
20588  15009980000    HI    Maui        0
20589  15009990000    HI    Maui        0
20590  15009990200    HI    Maui        0

[332 rows x 4 columns]
IA        CensusTract State  County  POP2010
25518  19001960100    IA   Adair     2791
25519  19001960200    IA   Adair     1844
25520  19001960300    IA   Adair     3047
25521  19003950100    IA   Adams     1742
25522  19003950200    IA   Adams     2287
...            ...   ...     ...      ...
26338  19197680100    IA  Wright     3450
26339  19197680200    IA  Wright     1549
26340  19197680300    IA  Wright     3296
26341  19197680400    IA  Wright     1270
26342  19197680500    IA  Wright     3664

[825 rows x 4 columns]
ID        CensusTract State      County  POP2010
20591  16001000100    ID         Ada     3897
20592  16001000201    ID         Ada     3196
20593  16001000202    ID         Ada     5435
20594  16001000302    ID         Ada     3284
20595  16001000303    ID         Ada     2087
...            ...   ...         ...      ...
20884  16085970200    ID      Valley     2643
20885  16085970300    ID      Valley     4592
20886  16087970100    ID  Washington     1655
20887  16087970200    ID  Washington     3879
20888  16087970300    ID  Washington     4664

[298 rows x 4 columns]
IL        CensusTract State    County  POP2010
20889  17001000100    IL     Adams     4627
20890  17001000201    IL     Adams     1986
20891  17001000202    IL     Adams     2999
20892  17001000400    IL     Adams     4322
20893  17001000500    IL     Adams     2337
...            ...   ...       ...      ...
24005  17203030501    IL  Woodford     7569
24006  17203030502    IL  Woodford     2592
24007  17203030601    IL  Woodford     6405
24008  17203030602    IL  Woodford     3383
24009  17203030700    IL  Woodford     4519

[3121 rows x 4 columns]
IN        CensusTract State   County  POP2010
24010  18001030100    IN    Adams     4737
24011  18001030200    IN    Adams     4971
24012  18001030300    IN    Adams     5506
24013  18001030400    IN    Adams     3400
24014  18001030500    IN    Adams     6070
...            ...   ...      ...      ...
25513  18183050300    IN  Whitley     5303
25514  18183050400    IN  Whitley     7038
25515  18183050500    IN  Whitley     4875
25516  18183050600    IN  Whitley     2015
25517  18183050700    IN  Whitley     3404

[1508 rows x 4 columns]
KS        CensusTract State     County  POP2010
26343  20001952600    KS      Allen     2011
26344  20001952700    KS      Allen     2174
26345  20001952800    KS      Allen     3999
26346  20001952900    KS      Allen     2367
26347  20001953000    KS      Allen     2820
...            ...   ...        ...      ...
27108  20209044806    KS  Wyandotte      562
27109  20209044900    KS  Wyandotte     4201
27110  20209045000    KS  Wyandotte     3879
27111  20209045100    KS  Wyandotte     2152
27112  20209045200    KS  Wyandotte     3980

[770 rows x 4 columns]
KY        CensusTract State    County  POP2010
27113  21001970100    KY     Adair     1727
27114  21001970200    KY     Adair     1722
27115  21001970300    KY     Adair     3016
27116  21001970401    KY     Adair     4070
27117  21001970402    KY     Adair     4261
...            ...   ...       ...      ...
28223  21239050106    KY  Woodford     3261
28224  21239050107    KY  Woodford     3757
28225  21239050200    KY  Woodford     3533
28226  21239050300    KY  Woodford     1899
28227  21239050400    KY  Woodford     2279

[1115 rows x 4 columns]
LA        CensusTract State          County  POP2010
28228  22001960100    LA          Acadia     6213
28229  22001960200    LA          Acadia     5988
28230  22001960300    LA          Acadia     3582
28231  22001960400    LA          Acadia     6584
28232  22001960500    LA          Acadia     6093
...            ...   ...             ...      ...
29366  22125951800    LA  West Feliciana     6874
29367  22127960100    LA            Winn     3780
29368  22127960200    LA            Winn     6146
29369  22127960300    LA            Winn     2934
29370  22127960400    LA            Winn     2453

[1143 rows x 4 columns]
MA        CensusTract State      County  POP2010
31125  25001010100    MA  Barnstable     2942
31126  25001010206    MA  Barnstable     2750
31127  25001010208    MA  Barnstable     2003
31128  25001010304    MA  Barnstable     2421
31129  25001010306    MA  Barnstable     2535
...            ...   ...         ...      ...
32596  25027760100    MA   Worcester     3390
32597  25027761100    MA   Worcester     5135
32598  25027761200    MA   Worcester     5780
32599  25027761300    MA   Worcester     3059
32600  25027761400    MA   Worcester     6520

[1476 rows x 4 columns]
MD        CensusTract State          County  POP2010
29726  24001000100    MD        Allegany     3718
29727  24001000200    MD        Allegany     4564
29728  24001000300    MD        Allegany     2780
29729  24001000400    MD        Allegany     3022
29730  24001000500    MD        Allegany     2734
...            ...   ...             ...      ...
31120  24510280401    MD  Baltimore City     3565
31121  24510280402    MD  Baltimore City     1574
31122  24510280403    MD  Baltimore City     5073
31123  24510280404    MD  Baltimore City     2267
31124  24510280500    MD  Baltimore City     3549

[1399 rows x 4 columns]
ME        CensusTract State        County  POP2010
29371  23001010100    ME  Androscoggin     1714
29372  23001010200    ME  Androscoggin     4603
29373  23001010300    ME  Androscoggin     2468
29374  23001010400    ME  Androscoggin     2119
29375  23001010500    ME  Androscoggin     2030
...            ...   ...           ...      ...
29721  23031036002    ME          York     5638
29722  23031037000    ME          York     6204
29723  23031038001    ME          York     6107
29724  23031038002    ME          York     3383
29725  23031990100    ME          York        0

[355 rows x 4 columns]
MI        CensusTract State   County  POP2010
32601  26001000100    MI   Alcona     1807
32602  26001970100    MI   Alcona     2549
32603  26001970400    MI   Alcona     3013
32604  26001970500    MI   Alcona     2092
32605  26001970600    MI   Alcona     1481
...            ...   ...      ...      ...
35370  26165380400    MI  Wexford     4598
35371  26165380500    MI  Wexford     6450
35372  26165380600    MI  Wexford     3105
35373  26165380700    MI  Wexford     2837
35374  26165380800    MI  Wexford     3372

[2774 rows x 4 columns]
MN        CensusTract State           County  POP2010
35375  27001770100    MN           Aitkin     2327
35376  27001770200    MN           Aitkin     2336
35377  27001770300    MN           Aitkin     3268
35378  27001770400    MN           Aitkin     3052
35379  27001790501    MN           Aitkin     1957
...            ...   ...              ...      ...
36706  27171101300    MN           Wright     4964
36707  27173970100    MN  Yellow Medicine     3371
36708  27173970200    MN  Yellow Medicine     2520
36709  27173970300    MN  Yellow Medicine     2517
36710  27173970400    MN  Yellow Medicine     2030

[1336 rows x 4 columns]
MO        CensusTract State          County  POP2010
37373  29001950100    MO           Adair     3802
37374  29001950200    MO           Adair     3019
37375  29001950300    MO           Adair     2951
37376  29001950400    MO           Adair     3892
37377  29001950500    MO           Adair     7079
...            ...   ...             ...      ...
38761  29510127200    MO  St. Louis City     4075
38762  29510127300    MO  St. Louis City     3769
38763  29510127400    MO  St. Louis City     4795
38764  29510127500    MO  St. Louis City     2237
38765  29510127600    MO  St. Louis City     3239

[1393 rows x 4 columns]
MS        CensusTract State County  POP2010
36711  28001000100    MS  Adams     7602
36712  28001000200    MS  Adams     4126
36713  28001000300    MS  Adams     2087
36714  28001000400    MS  Adams     3208
36715  28001000500    MS  Adams     3607
...            ...   ...    ...      ...
37368  28163950200    MS  Yazoo     3208
37369  28163950300    MS  Yazoo     4612
37370  28163950400    MS  Yazoo     1833
37371  28163950500    MS  Yazoo     4563
37372  28163950600    MS  Yazoo     6008

[662 rows x 4 columns]
MT        CensusTract State       County  POP2010
38766  30001000100    MT   Beaverhead     1366
38767  30001000200    MT   Beaverhead     3470
38768  30001000300    MT   Beaverhead     4410
38769  30003000100    MT     Big Horn     4522
38770  30003940400    MT     Big Horn     1790
...            ...   ...          ...      ...
39032  30111001803    MT  Yellowstone     2061
39033  30111001804    MT  Yellowstone     3036
39034  30111001901    MT  Yellowstone     4725
39035  30111001902    MT  Yellowstone     3819
39036  30111940000    MT  Yellowstone     7653

[271 rows x 4 columns]
NC        CensusTract State    County  POP2010
47964  37001020100    NC  Alamance     3908
47965  37001020200    NC  Alamance     4152
47966  37001020300    NC  Alamance     8063
47967  37001020400    NC  Alamance     6059
47968  37001020501    NC  Alamance     3575
...            ...   ...       ...      ...
50151  37199960101    NC    Yancey     3954
50152  37199960102    NC    Yancey     1917
50153  37199960200    NC    Yancey     4624
50154  37199960300    NC    Yancey     3019
50155  37199960400    NC    Yancey     4304

[2192 rows x 4 columns]
ND        CensusTract State    County  POP2010
50156  38001965600    ND     Adams     2343
50157  38003967900    ND    Barnes     1695
50158  38003968000    ND    Barnes     2740
50159  38003968200    ND    Barnes     3007
50160  38003968300    ND    Barnes     3624
...            ...   ...       ...      ...
50356  38105953600    ND  Williams     2368
50357  38105953700    ND  Williams     5735
50358  38105953800    ND  Williams     2574
50359  38105953900    ND  Williams     3379
50360  38105954100    ND  Williams     4732

[205 rows x 4 columns]
NE        CensusTract State   County  POP2010
39037  31001965400    NE    Adams     4169
39038  31001965500    NE    Adams     4129
39039  31001965600    NE    Adams     5536
39040  31001965700    NE    Adams     1288
39041  31001965800    NE    Adams     2421
...            ...   ...      ...      ...
39564  31183973600    NE  Wheeler      818
39565  31185969600    NE     York     2711
39566  31185969700    NE     York     3884
39567  31185969800    NE     York     4634
39568  31185969900    NE     York     2436

[532 rows x 4 columns]
NH        CensusTract State    County  POP2010
40256  33001965100    NH   Belknap     3261
40257  33001965200    NH   Belknap     2920
40258  33001965300    NH   Belknap     3321
40259  33001965400    NH   Belknap     2966
40260  33001965598    NH   Belknap     3567
...            ...   ...       ...      ...
40546  33019975600    NH  Sullivan     3250
40547  33019975700    NH  Sullivan     5114
40548  33019975800    NH  Sullivan     4712
40549  33019975901    NH  Sullivan     4695
40550  33019975902    NH  Sullivan     3948

[295 rows x 4 columns]
NJ        CensusTract State    County  POP2010
40551  34001000100    NJ  Atlantic     2417
40552  34001000200    NJ  Atlantic     3202
40553  34001000300    NJ  Atlantic     4373
40554  34001000400    NJ  Atlantic     2606
40555  34001000500    NJ  Atlantic     3503
...            ...   ...       ...      ...
42553  34041032101    NJ    Warren     3176
42554  34041032102    NJ    Warren     5712
42555  34041032200    NJ    Warren     8014
42556  34041032300    NJ    Warren     3339
42557  34041032400    NJ    Warren     2369

[2007 rows x 4 columns]
NM        CensusTract State      County  POP2010
42558  35001000107    NM  Bernalillo     2715
42559  35001000108    NM  Bernalillo     2683
42560  35001000109    NM  Bernalillo     2577
42561  35001000110    NM  Bernalillo     3561
42562  35001000111    NM  Bernalillo     2807
...            ...   ...         ...      ...
43052  35061970902    NM    Valencia     2686
43053  35061971000    NM    Valencia     4723
43054  35061971100    NM    Valencia     1595
43055  35061971300    NM    Valencia     2077
43056  35061971400    NM    Valencia     3298

[499 rows x 4 columns]
NV        CensusTract State       County  POP2010
39569  32001950100    NV    Churchill     2563
39570  32001950301    NV    Churchill     3884
39571  32001950302    NV    Churchill     5268
39572  32001950400    NV    Churchill      711
39573  32001950500    NV    Churchill     1391
...            ...   ...          ...      ...
40251  32510000800    NV  Carson City     4781
40252  32510000900    NV  Carson City     5178
40253  32510001001    NV  Carson City     4387
40254  32510001002    NV  Carson City     3757
40255  32510990000    NV  Carson City        0

[687 rows x 4 columns]
NY        CensusTract State  County  POP2010
43057  36001000100    NY  Albany     2139
43058  36001000200    NY  Albany     6046
43059  36001000300    NY  Albany     5888
43060  36001000401    NY  Albany     2227
43061  36001000403    NY  Albany     4415
...            ...   ...     ...      ...
47959  36123150100    NY   Yates     5942
47960  36123150200    NY   Yates     5561
47961  36123150300    NY   Yates     5348
47962  36123150400    NY   Yates     3973
47963  36123150500    NY   Yates     4524

[4907 rows x 4 columns]
OH        CensusTract State   County  POP2010
50361  39001770100    OH    Adams     4864

In [38]:
df = pd.read_excel('censuspopdata.xlsx')
writer = pd.ExcelWriter('pandasresult.xlsx', engine='openpyxl')
for group_name, df in df.groupby('State'):        
    df.to_excel(writer, sheet_name=group_name, index=False)
writer.save()