# 05. 함수

## 05-1. 함수의 정의

In [1]:
print('hello')
print('world')

hello
world

In [14]:
def my_function():
    print('hello')
    print('world')

my_function()

hello
world

In [4]:
print('test')
my_function()
print('test')

test
hello
world
test

## 05-2. 함수의 정의 (입력변수)

In [3]:
def double(x):
    result = 2*x
    print(result)

In [5]:
double(3)
double(4)
double(5)

6
8
10

In [10]:
## 왜 이런 결과가 나왔을까?
my = double(3)
print(my)

6
None

## 05-3. 함수의 정의 (출력변수)

In [12]:
def double(x):
    return x*2

In [13]:
y=double(2)
print(y)
y=double(10)
print(y)
z=double(30)
print(z)

4
20
60

## 05-4. 입력값이 여러개인 함수

- jegop(2,3) --> 8
- jegop(3,4) --> 81

In [11]:
def jegop(x,y):
    return x**y

jegop(2,3)

8

In [12]:
jegop(3,4)

81

## 05-5. 출력값이 여러개인 함수

In [1]:
def power(a,b):    
    return a,a**b

a,b = power(2,3)

In [2]:
print(a,b)

2 8

## 05-5. 지역변수

- 함수에 사용되는 변수들은 함수 안에서만 의미있다.
- 즉, 함수 밖에서 사용할 수 없다.

In [23]:
def tenTimes(x):
    result = x*10
    return result

In [24]:
result

NameError: name 'result' is not defined

In [25]:
result=10
tenTimes(2)

20

In [28]:
result

10

- 함수안의 result값은 함수 안에서만 유효하다, 즉 함수 밖의 result와 함수 안의 result는 다르다.

## 5-6. 함수를 사용한 프로그램 구조화

In [5]:
def print_line():
    print('='*50)

def print_five():
    for i in range(5):
        print('hello')
        
def print_star():
    print('*'*50)
    
print_line()
print_star()
print_five()
print_star()
print_line()

==================================================
**************************************************
hello
hello
hello
hello
hello
**************************************************
==================================================

## 5-7. 함수의 입출력값에는 제한이 없다

In [7]:
def sum_list(a):
    result=0
    for i in a:
        result = result + i
    return result

inputList = [1,3,5,7,9]
output = sum_list(inputList)
print(output)

25

In [8]:
sum_list(3)

TypeError: 'int' object is not iterable

## 5-8. 함수안에 함수

In [11]:
def print_line():
    print('='*50)

def print_five():
    for i in range(5):
        print('hello')
        
def print_star():
    print('*'*50)
    
def main():
    print_line()
    print_star()
    print_five()
    print_star()
    print_line()
    
main()

==================================================
**************************************************
hello
hello
hello
hello
hello
**************************************************
==================================================

In [12]:
def square(x):
    return x**2

def my_sum(x):
    result = 0
    for i in range(x+1):
        result = result + square(i)
    return result

print(my_sum(3))
print(my_sum(5))

14
55

## 5-9. 함수의 결과값을 입력값으로 사용

In [13]:
def f(x):
    return x**2

def g(y):
    return y+1

print(g(f(3)))

10